{
  "openapi": "3.1.0",
  "info": { "title": "ToolTraq Mobile API", "version": "1.0.0", "description": "" },
  "servers": [{ "url": "https://app.tooltraq.com" }],
  "paths": {
    "/api/v1/auth/login/": {
      "post": { "summary": "Login", "tags": ["auth"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LoginRequest" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } } } } } }
    },
    "/api/v1/auth/register/": {
      "post": { "summary": "Register", "tags": ["auth"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterRequest" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VerifyPendingResponse" } } } } } }
    },
    "/api/v1/auth/verify-email/": {
      "post": { "summary": "Verify Email", "tags": ["auth"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VerifyEmailRequest" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } } } } } }
    },
    "/api/v1/auth/token/refresh/": {
      "post": { "summary": "Refresh", "tags": ["auth"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RefreshRequest" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } } } } } }
    },
    "/api/v1/auth/password/forgot/": {
      "post": { "summary": "Forgot Password", "tags": ["auth"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ForgotPasswordRequest" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SentResponse" } } } } } }
    },
    "/api/v1/auth/password/reset/": {
      "post": { "summary": "Reset Password", "tags": ["auth"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ResetPasswordRequest" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } } } } }
    },
    "/api/v1/auth/password/change/": {
      "post": { "summary": "Change Password", "tags": ["auth"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChangePasswordRequest" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } } } } }
    },
    "/api/v1/auth/logout/": {
      "post": { "summary": "Logout", "tags": ["auth"], "security": [{ "AuthBearer": [] }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/account/": {
      "get": { "summary": "Get Me", "tags": ["account"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserMe" } } } } } },
      "patch": { "summary": "Update Me", "tags": ["account"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserMe" } } } } } }
    },
    "/api/v1/account/onboarding/": {
      "patch": { "summary": "Update Onboarding", "tags": ["account"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OnboardingUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserMe" } } } } } }
    },
    "/api/v1/account/push-tokens/": {
      "post": { "summary": "Register Push Token", "tags": ["account"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PushTokenRequest" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PushTokenRead" } } } } } },
      "delete": { "summary": "Unregister Push Token", "tags": ["account"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PushTokenDelete" } } } }, "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/account/notifications/": {
      "get": { "summary": "List Notifications", "tags": ["account"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } } } }
    },
    "/api/v1/account/notifications/{notification_id}/": {
      "patch": { "summary": "Mark Notification", "tags": ["account"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "notification_id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NotificationMarkReadRequest" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NotificationRead" } } } } } }
    },
    "/api/v1/organizations/": {
      "post": { "summary": "Create Organization", "tags": ["organizations"], "security": [{ "UserScopedBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrganizationCreate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrganizationRead" } } } } } }
    },
    "/api/v1/organizations/me/": {
      "get": { "summary": "Get My Organization", "tags": ["organizations"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrganizationRead" } } } } } },
      "patch": { "summary": "Update My Organization", "tags": ["organizations"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrganizationUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrganizationRead" } } } } } }
    },
    "/api/v1/members/": {
      "get": { "summary": "List Members", "tags": ["members"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedMembers" } } } } } }
    },
    "/api/v1/members/{user_id}/": {
      "get": { "summary": "Get Member", "tags": ["members"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "user_id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MemberRead" } } } } } },
      "patch": { "summary": "Update Member Role", "tags": ["members"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "user_id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MemberUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MemberRead" } } } } } },
      "delete": { "summary": "Remove Member", "tags": ["members"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "user_id", "required": true, "schema": { "type": "integer" } }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/invitations/accept/": {
      "post": { "summary": "Accept Invitation", "tags": ["invitations-public"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InvitationAccept" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } } } } } }
    },
    "/api/v1/invitations/by-token/{token}/": {
      "get": { "summary": "Invitation By Token", "tags": ["invitations-public"], "parameters": [{ "in": "path", "name": "token", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InvitationByTokenRead" } } } } } }
    },
    "/api/v1/invitations/": {
      "get": { "summary": "List Invitations", "tags": ["invitations"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedInvitations" } } } } } },
      "post": { "summary": "Create Invitation", "tags": ["invitations"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InvitationCreate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InvitationRead" } } } } } }
    },
    "/api/v1/invitations/{invitation_id}/": {
      "delete": { "summary": "Revoke Invitation", "tags": ["invitations"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "invitation_id", "required": true, "schema": { "type": "integer" } }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/invitations/{invitation_id}/resend/": {
      "post": { "summary": "Resend Invitation", "tags": ["invitations"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "invitation_id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InvitationRead" } } } } } }
    },
    "/api/v1/join-requests/": {
      "post": { "summary": "Create Join Request", "tags": ["join-requests"], "security": [{ "UserScopedBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JoinRequestCreate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JoinRequestRead" } } } } } },
      "get": { "summary": "List Join Requests", "tags": ["join-requests"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedJoinRequests" } } } } } }
    },
    "/api/v1/join-requests/mine/": {
      "get": { "summary": "Get My Join Request", "tags": ["join-requests"], "security": [{ "UserScopedBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "anyOf": [{ "$ref": "#/components/schemas/JoinRequestRead" }, { "type": "null" }] } } } } } },
      "delete": { "summary": "Cancel My Join Request", "tags": ["join-requests"], "security": [{ "UserScopedBearer": [] }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/join-requests/{join_request_id}/approve/": {
      "post": { "summary": "Approve Join Request", "tags": ["join-requests"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "join_request_id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JoinRequestApprove" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JoinRequestRead" } } } } } }
    },
    "/api/v1/join-requests/{join_request_id}/deny/": {
      "post": { "summary": "Deny Join Request", "tags": ["join-requests"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "join_request_id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JoinRequestDeny" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JoinRequestRead" } } } } } }
    },
    "/api/v1/tools/": {
      "get": { "summary": "List Tools", "tags": ["tools"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "query", "name": "page", "schema": { "type": "integer", "default": 1 } }, { "in": "query", "name": "page_size", "schema": { "type": "integer", "default": 20 } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedTools" } } } } } },
      "post": { "summary": "Create Tool", "tags": ["tools"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ToolCreate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ToolRead" } } } } } }
    },
    "/api/v1/tools/by-nfc/{tag_uid}/": {
      "get": { "summary": "Get Tool By NFC", "tags": ["tools"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "tag_uid", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ToolRead" } } } } } }
    },
    "/api/v1/tools/{tool_id}/": {
      "get": { "summary": "Get Tool", "tags": ["tools"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "tool_id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ToolRead" } } } } } },
      "patch": { "summary": "Update Tool", "tags": ["tools"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "tool_id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ToolUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ToolRead" } } } } } },
      "delete": { "summary": "Delete Tool", "tags": ["tools"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "tool_id", "required": true, "schema": { "type": "integer" } }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/tools/{tool_id}/photos/": {
      "get": { "summary": "List Photos", "tags": ["tool-photos"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "tool_id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ToolPhotoRead" } } } } } } },
      "post": { "summary": "Upload Photo", "tags": ["tool-photos"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "tool_id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "multipart/form-data": { "schema": { "type": "object", "required": ["file"], "properties": { "file": { "type": "string", "format": "binary" }, "is_signature": { "type": "boolean", "default": false }, "description": { "type": "string", "default": "" } } } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ToolPhotoRead" } } } } } }
    },
    "/api/v1/tools/photos/{photo_id}/": {
      "delete": { "summary": "Delete Photo", "tags": ["tool-photos"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "photo_id", "required": true, "schema": { "type": "integer" } }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/assignments/": {
      "get": { "summary": "List Assignments", "tags": ["assignments"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "query", "name": "status", "schema": { "anyOf": [{ "type": "string" }, { "type": "null" }] } }, { "in": "query", "name": "tool", "schema": { "anyOf": [{ "type": "integer" }, { "type": "null" }] } }, { "in": "query", "name": "user", "schema": { "anyOf": [{ "type": "integer" }, { "type": "null" }] } }, { "in": "query", "name": "site", "schema": { "anyOf": [{ "type": "integer" }, { "type": "null" }] } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedAssignments" } } } } } },
      "post": { "summary": "Create Assignment", "tags": ["assignments"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssignmentCreate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssignmentRead" } } } } } }
    },
    "/api/v1/assignments/mine/active/": {
      "get": { "summary": "List Mine Active", "tags": ["assignments"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AssignmentRead" } } } } } } }
    },
    "/api/v1/assignments/mine/": {
      "get": { "summary": "List Mine", "tags": ["assignments"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "query", "name": "status", "schema": { "anyOf": [{ "type": "string" }, { "type": "null" }] } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedAssignments" } } } } } }
    },
    "/api/v1/assignments/site/{site_id}/": {
      "get": { "summary": "List By Site", "tags": ["assignments"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "site_id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedAssignments" } } } } } }
    },
    "/api/v1/assignments/available-tools/": {
      "get": { "summary": "List Available Tools", "tags": ["assignments"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedTools" } } } } } }
    },
    "/api/v1/assignments/{id}/": {
      "patch": { "summary": "Update Assignment", "tags": ["assignments"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssignmentUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssignmentRead" } } } } } }
    },
    "/api/v1/assignments/{id}/return/": {
      "post": { "summary": "Return Assignment", "tags": ["assignments"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssignmentReturn" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssignmentRead" } } } } } }
    },
    "/api/v1/tools/{tool_id}/history/": {
      "get": { "summary": "Tool Assignment History", "tags": ["tools"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "tool_id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedAssignments" } } } } } }
    },
    "/api/v1/tools/{tool_id}/assign-to-me/": {
      "post": { "summary": "Assign To Me", "tags": ["tools"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "tool_id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssignmentRead" } } } } } }
    },
    "/api/v1/tools/by-identifier/{identifier}/assign/": {
      "post": { "summary": "Assign By Identifier", "tags": ["tools"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "identifier", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssignmentRead" } } } } } }
    },
    "/api/v1/sites/": {
      "get": { "summary": "List Sites", "tags": ["sites"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "query", "name": "site_type", "schema": { "anyOf": [{ "type": "string" }, { "type": "null" }] } }, { "in": "query", "name": "status", "schema": { "anyOf": [{ "type": "string" }, { "type": "null" }] } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedSites" } } } } } },
      "post": { "summary": "Create Site", "tags": ["sites"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteCreate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteRead" } } } } } }
    },
    "/api/v1/sites/{id}/": {
      "get": { "summary": "Get Site", "tags": ["sites"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteRead" } } } } } },
      "patch": { "summary": "Update Site", "tags": ["sites"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteRead" } } } } } },
      "delete": { "summary": "Delete Site", "tags": ["sites"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/sites/for-tool/{tool_id}/": {
      "get": { "summary": "Sites For Tool", "tags": ["sites"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "tool_id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedSites" } } } } } }
    },
    "/api/v1/site-assignments/": {
      "get": { "summary": "List Site Assignments", "tags": ["site-assignments"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "query", "name": "site", "schema": { "anyOf": [{ "type": "integer" }, { "type": "null" }] } }, { "in": "query", "name": "user", "schema": { "anyOf": [{ "type": "integer" }, { "type": "null" }] } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedSiteAssignments" } } } } } },
      "post": { "summary": "Create Site Assignment", "tags": ["site-assignments"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteAssignmentCreate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteAssignmentRead" } } } } } }
    },
    "/api/v1/site-assignments/{id}/": {
      "patch": { "summary": "Update Site Assignment", "tags": ["site-assignments"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteAssignmentUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SiteAssignmentRead" } } } } } },
      "delete": { "summary": "Delete Site Assignment", "tags": ["site-assignments"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/vans/": {
      "get": { "summary": "List Vans", "tags": ["vans"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedVans" } } } } } },
      "post": { "summary": "Create Van", "tags": ["vans"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VanCreate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VanRead" } } } } } }
    },
    "/api/v1/vans/{id}/": {
      "get": { "summary": "Get Van", "tags": ["vans"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VanRead" } } } } } },
      "patch": { "summary": "Update Van", "tags": ["vans"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VanUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VanRead" } } } } } },
      "delete": { "summary": "Delete Van", "tags": ["vans"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "integer" } }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/incidents/": {
      "get": { "summary": "List Incidents", "tags": ["incidents"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedIncidents" } } } } } },
      "post": { "summary": "Create Incident", "tags": ["incidents"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IncidentCreate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IncidentRead" } } } } } }
    },
    "/api/v1/incidents/mine/": {
      "get": { "summary": "List My Incidents", "tags": ["incidents"], "security": [{ "AuthBearer": [] }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PagedIncidents" } } } } } }
    },
    "/api/v1/incidents/{incident_id}/": {
      "get": { "summary": "Get Incident", "tags": ["incidents"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "incident_id", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IncidentRead" } } } } } },
      "patch": { "summary": "Update Incident", "tags": ["incidents"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "incident_id", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IncidentUpdate" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IncidentRead" } } } } } },
      "delete": { "summary": "Delete Incident", "tags": ["incidents"], "security": [{ "AuthBearer": [] }], "parameters": [{ "in": "path", "name": "incident_id", "required": true, "schema": { "type": "integer" } }], "responses": { "204": { "description": "No Content" } } }
    },
    "/api/v1/feedback/feature-suggestions/": {
      "post": { "summary": "Submit Feature Suggestion", "tags": ["feedback"], "security": [{ "AuthBearer": [] }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FeedbackSuggestion" } } } }, "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FeedbackRead" } } } } } }
    }
  },
  "components": {
    "schemas": {
      "OrganizationSummary": { "type": "object", "required": ["id", "uuid", "name", "is_active"], "properties": { "id": { "type": "integer" }, "uuid": { "type": "string" }, "name": { "type": "string" }, "trading_name": { "type": "string", "default": "" }, "is_active": { "type": "boolean" } } },
      "TokenResponse": { "type": "object", "required": ["access_token", "refresh_token", "expires_in", "user"], "properties": { "access_token": { "type": "string" }, "refresh_token": { "type": "string" }, "expires_in": { "type": "integer" }, "user": { "$ref": "#/components/schemas/UserMe" } } },
      "UserMe": { "type": "object", "required": ["id", "email", "first_name", "last_name", "has_completed_onboarding", "onboarding_step", "has_seen_onboarding_outro"], "properties": { "id": { "type": "integer" }, "email": { "type": "string" }, "first_name": { "type": "string" }, "last_name": { "type": "string" }, "phone_number": { "type": "string", "default": "" }, "has_completed_onboarding": { "type": "boolean" }, "onboarding_step": { "type": "string" }, "has_seen_onboarding_outro": { "type": "boolean" }, "organization": { "anyOf": [{ "$ref": "#/components/schemas/OrganizationSummary" }, { "type": "null" }] }, "role": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "LoginRequest": { "type": "object", "required": ["email", "password"], "properties": { "email": { "type": "string", "format": "email" }, "password": { "type": "string", "minLength": 1 } } },
      "VerifyPendingResponse": { "type": "object", "required": ["email_verification_id"], "properties": { "email_verification_id": { "type": "string" }, "next": { "type": "string", "const": "verify_email", "default": "verify_email" } } },
      "RegisterRequest": { "type": "object", "required": ["email", "password", "first_name", "last_name"], "properties": { "email": { "type": "string", "format": "email" }, "password": { "type": "string", "minLength": 12 }, "first_name": { "type": "string", "minLength": 1, "maxLength": 150 }, "last_name": { "type": "string", "minLength": 1, "maxLength": 150 } } },
      "VerifyEmailRequest": { "type": "object", "required": ["email_verification_id", "code"], "properties": { "email_verification_id": { "type": "string" }, "code": { "type": "string", "minLength": 1 } } },
      "RefreshRequest": { "type": "object", "required": ["refresh_token"], "properties": { "refresh_token": { "type": "string" } } },
      "SentResponse": { "type": "object", "properties": { "sent": { "type": "boolean", "default": true } } },
      "ForgotPasswordRequest": { "type": "object", "required": ["email"], "properties": { "email": { "type": "string", "format": "email" } } },
      "SuccessResponse": { "type": "object", "properties": { "success": { "type": "boolean", "default": true } } },
      "ResetPasswordRequest": { "type": "object", "required": ["password_reset_token", "new_password"], "properties": { "password_reset_token": { "type": "string" }, "new_password": { "type": "string", "minLength": 12 } } },
      "ChangePasswordRequest": { "type": "object", "required": ["current_password", "new_password"], "properties": { "current_password": { "type": "string" }, "new_password": { "type": "string", "minLength": 12 } } },
      "UserUpdate": { "type": "object", "properties": { "first_name": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "last_name": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "email": { "anyOf": [{ "type": "string", "format": "email" }, { "type": "null" }] }, "phone_number": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "OnboardingUpdate": { "type": "object", "properties": { "has_completed_onboarding": { "anyOf": [{ "type": "boolean" }, { "type": "null" }] }, "onboarding_step": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "has_seen_onboarding_outro": { "anyOf": [{ "type": "boolean" }, { "type": "null" }] } } },
      "PushTokenRead": { "type": "object", "required": ["id", "token", "platform", "device_id"], "properties": { "id": { "type": "integer" }, "token": { "type": "string" }, "platform": { "type": "string" }, "device_id": { "type": "string" } } },
      "PushTokenRequest": { "type": "object", "required": ["token", "platform"], "properties": { "token": { "type": "string", "minLength": 1 }, "platform": { "type": "string", "enum": ["ios", "android"] }, "device_id": { "type": "string", "default": "" } } },
      "PushTokenDelete": { "type": "object", "required": ["token"], "properties": { "token": { "type": "string" } } },
      "NotificationRead": { "type": "object", "required": ["id", "notification_type", "title", "message", "is_read", "created_at"], "properties": { "id": { "type": "integer" }, "notification_type": { "type": "string" }, "title": { "type": "string" }, "message": { "type": "string" }, "is_read": { "type": "boolean" }, "read_at": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }, "created_at": { "type": "string", "format": "date-time" } } },
      "NotificationMarkReadRequest": { "type": "object", "properties": { "read": { "type": "boolean", "default": true } } },
      "OrganizationRead": { "type": "object", "required": ["id", "uuid", "name", "is_active"], "properties": { "id": { "type": "integer" }, "uuid": { "type": "string" }, "name": { "type": "string" }, "trading_name": { "type": "string", "default": "" }, "description": { "type": "string", "default": "" }, "email": { "type": "string", "default": "" }, "phone": { "type": "string", "default": "" }, "website": { "type": "string", "default": "" }, "is_active": { "type": "boolean" }, "invite_code": { "type": "string", "default": "" }, "plan": { "type": "string", "default": "free" }, "member_count": { "type": "integer", "default": 0 }, "tool_count": { "type": "integer", "default": 0 }, "site_count": { "type": "integer", "default": 0 } } },
      "OrganizationCreate": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string", "minLength": 1, "maxLength": 255 }, "trading_name": { "type": "string", "default": "" }, "description": { "type": "string", "default": "" }, "email": { "anyOf": [{ "type": "string", "format": "email" }, { "type": "null" }] }, "phone": { "type": "string", "default": "" }, "website": { "type": "string", "default": "" } } },
      "OrganizationUpdate": { "type": "object", "properties": { "name": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "trading_name": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "description": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "email": { "anyOf": [{ "type": "string", "format": "email" }, { "type": "null" }] }, "phone": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "website": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "MemberRead": { "type": "object", "required": ["id", "user_id", "email", "first_name", "last_name", "role", "is_active", "is_primary", "joined_at"], "properties": { "id": { "type": "integer" }, "user_id": { "type": "integer" }, "email": { "type": "string" }, "first_name": { "type": "string" }, "last_name": { "type": "string" }, "role": { "type": "string" }, "is_active": { "type": "boolean" }, "is_primary": { "type": "boolean" }, "joined_at": { "type": "string", "format": "date-time" } } },
      "PagedMembers": { "type": "object", "required": ["items", "page", "page_size", "total", "total_pages"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/MemberRead" } }, "page": { "type": "integer" }, "page_size": { "type": "integer" }, "total": { "type": "integer" }, "total_pages": { "type": "integer" } } },
      "MemberUpdate": { "type": "object", "required": ["role"], "properties": { "role": { "type": "string" } } },
      "InvitationAccept": { "type": "object", "required": ["token"], "properties": { "token": { "type": "string" }, "password": { "anyOf": [{ "type": "string", "minLength": 12 }, { "type": "null" }] }, "first_name": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "last_name": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "InvitationByTokenRead": { "type": "object", "required": ["email", "organization_name", "role", "requires_signup"], "properties": { "email": { "type": "string" }, "organization_name": { "type": "string" }, "role": { "type": "string" }, "inviter_name": { "type": "string", "default": "" }, "expires_at": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }, "requires_signup": { "type": "boolean" } } },
      "InvitationRead": { "type": "object", "required": ["id", "uuid", "email", "role", "status", "created_at"], "properties": { "id": { "type": "integer" }, "uuid": { "type": "string" }, "email": { "type": "string" }, "role": { "type": "string" }, "status": { "type": "string" }, "invited_by_email": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "expires_at": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }, "accepted_at": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }, "created_at": { "type": "string", "format": "date-time" } } },
      "PagedInvitations": { "type": "object", "required": ["items", "page", "page_size", "total", "total_pages"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/InvitationRead" } }, "page": { "type": "integer" }, "page_size": { "type": "integer" }, "total": { "type": "integer" }, "total_pages": { "type": "integer" } } },
      "InvitationCreate": { "type": "object", "required": ["email", "role"], "properties": { "email": { "type": "string", "format": "email" }, "role": { "type": "string" } } },
      "JoinRequestRead": { "type": "object", "required": ["id", "uuid", "requester_id", "requester_email", "organization_id", "organization_name", "matched_via", "status", "created_at"], "properties": { "id": { "type": "integer" }, "uuid": { "type": "string" }, "requester_id": { "type": "integer" }, "requester_email": { "type": "string" }, "organization_id": { "type": "integer" }, "organization_name": { "type": "string" }, "matched_via": { "type": "string" }, "status": { "type": "string" }, "assigned_role": { "type": "string", "default": "" }, "deny_reason": { "type": "string", "default": "" }, "decided_at": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }, "expires_at": { "anyOf": [{ "type": "string", "format": "date-time" }, { "type": "null" }] }, "created_at": { "type": "string", "format": "date-time" } } },
      "JoinRequestCreate": { "type": "object", "properties": { "invite_code": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "admin_email": { "anyOf": [{ "type": "string", "format": "email" }, { "type": "null" }] } } },
      "PagedJoinRequests": { "type": "object", "required": ["items", "page", "page_size", "total", "total_pages"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/JoinRequestRead" } }, "page": { "type": "integer" }, "page_size": { "type": "integer" }, "total": { "type": "integer" }, "total_pages": { "type": "integer" } } },
      "JoinRequestApprove": { "type": "object", "required": ["role"], "properties": { "role": { "type": "string" } } },
      "JoinRequestDeny": { "type": "object", "properties": { "reason": { "type": "string", "default": "" } } },
      "PagedTools": { "type": "object", "required": ["items", "page", "page_size", "total", "total_pages"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/ToolRead" } }, "page": { "type": "integer" }, "page_size": { "type": "integer" }, "total": { "type": "integer" }, "total_pages": { "type": "integer" } } },
      "ToolRead": { "type": "object", "required": ["id", "uuid", "name"], "properties": { "id": { "type": "integer" }, "uuid": { "type": "string" }, "name": { "type": "string" }, "make": { "type": "string", "default": "" }, "model": { "type": "string", "default": "" }, "serial_number": { "type": "string", "default": "" }, "category_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "category_name": { "type": "string", "default": "" }, "nfc_tag_id": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "status": { "type": "string", "default": "" }, "status_label": { "type": "string", "default": "" }, "is_available": { "type": "boolean", "default": true } } },
      "ToolCreate": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string", "minLength": 1, "maxLength": 255 }, "make": { "type": "string", "default": "" }, "model": { "type": "string", "default": "" }, "serial_number": { "type": "string", "default": "" }, "category_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "nfc_tag_id": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "ToolUpdate": { "type": "object", "properties": { "name": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "make": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "model": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "serial_number": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "category_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "nfc_tag_id": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "ToolPhotoRead": { "type": "object", "required": ["id", "url", "is_signature", "created_at"], "properties": { "id": { "type": "integer" }, "url": { "type": "string" }, "is_signature": { "type": "boolean" }, "description": { "type": "string", "default": "" }, "uploaded_by_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "created_at": { "type": "string", "format": "date-time" } } },
      "AssignmentRead": { "type": "object", "required": ["id", "uuid", "tool_id", "tool_name"], "properties": { "id": { "type": "integer" }, "uuid": { "type": "string" }, "tool_id": { "type": "integer" }, "tool_name": { "type": "string" }, "assignee_user_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "assignee_user_email": { "type": "string", "default": "" }, "assignee_site_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "assignee_site_name": { "type": "string", "default": "" }, "assigned_by_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "status": { "type": "string", "default": "active" }, "condition": { "type": "string", "default": "" }, "notes": { "type": "string", "default": "" }, "assigned_at": { "anyOf": [{ "type": "string", "format": "date" }, { "type": "null" }] }, "returned_at": { "anyOf": [{ "type": "string", "format": "date" }, { "type": "null" }] }, "return_site_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] } } },
      "PagedAssignments": { "type": "object", "required": ["items", "page", "page_size", "total", "total_pages"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/AssignmentRead" } }, "page": { "type": "integer" }, "page_size": { "type": "integer" }, "total": { "type": "integer" }, "total_pages": { "type": "integer" } } },
      "AssignmentCreate": { "type": "object", "required": ["tool_id"], "properties": { "tool_id": { "type": "integer" }, "assignee_user_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "assignee_site_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "condition": { "type": "string", "default": "" }, "notes": { "type": "string", "default": "" } } },
      "AssignmentUpdate": { "type": "object", "properties": { "condition": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "notes": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "AssignmentReturn": { "type": "object", "properties": { "target_site_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "condition": { "type": "string", "default": "" }, "notes": { "type": "string", "default": "" } } },
      "PagedSites": { "type": "object", "required": ["items", "page", "page_size", "total", "total_pages"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/SiteRead" } }, "page": { "type": "integer" }, "page_size": { "type": "integer" }, "total": { "type": "integer" }, "total_pages": { "type": "integer" } } },
      "SiteRead": { "type": "object", "required": ["id", "uuid", "name", "site_type", "status"], "properties": { "id": { "type": "integer" }, "uuid": { "type": "string" }, "name": { "type": "string" }, "site_type": { "type": "string" }, "status": { "type": "string" }, "description": { "type": "string", "default": "" }, "nickname": { "type": "string", "default": "" }, "prefix_code": { "type": "string", "default": "" }, "address_line1": { "type": "string", "default": "" }, "city": { "type": "string", "default": "" }, "postcode": { "type": "string", "default": "" } } },
      "SiteCreate": { "type": "object", "required": ["name", "site_type"], "properties": { "name": { "type": "string", "minLength": 1, "maxLength": 255 }, "site_type": { "type": "string" }, "description": { "type": "string", "default": "" }, "nickname": { "type": "string", "default": "" }, "prefix_code": { "type": "string", "default": "" }, "address_line1": { "type": "string", "default": "" }, "city": { "type": "string", "default": "" }, "postcode": { "type": "string", "default": "" } } },
      "SiteUpdate": { "type": "object", "properties": { "name": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "site_type": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "status": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "description": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "nickname": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "prefix_code": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "address_line1": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "city": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "postcode": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "PagedSiteAssignments": { "type": "object", "required": ["items", "page", "page_size", "total", "total_pages"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/SiteAssignmentRead" } }, "page": { "type": "integer" }, "page_size": { "type": "integer" }, "total": { "type": "integer" }, "total_pages": { "type": "integer" } } },
      "SiteAssignmentRead": { "type": "object", "required": ["id", "user_id", "user_email", "site_id", "site_name", "created_at"], "properties": { "id": { "type": "integer" }, "user_id": { "type": "integer" }, "user_email": { "type": "string" }, "site_id": { "type": "integer" }, "site_name": { "type": "string" }, "role": { "type": "string", "default": "" }, "start_date": { "anyOf": [{ "type": "string", "format": "date" }, { "type": "null" }] }, "end_date": { "anyOf": [{ "type": "string", "format": "date" }, { "type": "null" }] }, "is_active": { "type": "boolean", "default": true }, "created_at": { "type": "string", "format": "date-time" } } },
      "SiteAssignmentCreate": { "type": "object", "required": ["user_id", "site_id"], "properties": { "user_id": { "type": "integer" }, "site_id": { "type": "integer" }, "role": { "type": "string", "default": "" }, "start_date": { "anyOf": [{ "type": "string", "format": "date" }, { "type": "null" }] } } },
      "SiteAssignmentUpdate": { "type": "object", "properties": { "role": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "end_date": { "anyOf": [{ "type": "string", "format": "date" }, { "type": "null" }] }, "is_active": { "anyOf": [{ "type": "boolean" }, { "type": "null" }] } } },
      "PagedVans": { "type": "object", "required": ["items", "page", "page_size", "total", "total_pages"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/VanRead" } }, "page": { "type": "integer" }, "page_size": { "type": "integer" }, "total": { "type": "integer" }, "total_pages": { "type": "integer" } } },
      "VanRead": { "type": "object", "required": ["id", "uuid", "name", "status"], "properties": { "id": { "type": "integer" }, "uuid": { "type": "string" }, "name": { "type": "string" }, "status": { "type": "string" }, "nickname": { "type": "string", "default": "" }, "prefix_code": { "type": "string", "default": "" } } },
      "VanCreate": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string", "minLength": 1, "maxLength": 255 }, "nickname": { "type": "string", "default": "" }, "prefix_code": { "type": "string", "default": "" } } },
      "VanUpdate": { "type": "object", "properties": { "name": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "status": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "nickname": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "prefix_code": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "IncidentRead": { "type": "object", "required": ["id", "uuid", "tool_id", "tool_name", "type", "severity", "status", "description", "created_at"], "properties": { "id": { "type": "integer" }, "uuid": { "type": "string" }, "tool_id": { "type": "integer" }, "tool_name": { "type": "string" }, "site_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "site_name": { "type": "string", "default": "" }, "type": { "type": "string" }, "severity": { "type": "string" }, "status": { "type": "string" }, "description": { "type": "string" }, "reported_by_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "reported_by_email": { "type": "string", "default": "" }, "created_at": { "type": "string", "format": "date-time" } } },
      "PagedIncidents": { "type": "object", "required": ["items", "page", "page_size", "total", "total_pages"], "properties": { "items": { "type": "array", "items": { "$ref": "#/components/schemas/IncidentRead" } }, "page": { "type": "integer" }, "page_size": { "type": "integer" }, "total": { "type": "integer" }, "total_pages": { "type": "integer" } } },
      "IncidentCreate": { "type": "object", "required": ["tool_id", "type", "severity", "description"], "properties": { "tool_id": { "type": "integer" }, "site_id": { "anyOf": [{ "type": "integer" }, { "type": "null" }] }, "type": { "type": "string" }, "severity": { "type": "string" }, "description": { "type": "string", "minLength": 1 } } },
      "IncidentUpdate": { "type": "object", "properties": { "status": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "severity": { "anyOf": [{ "type": "string" }, { "type": "null" }] }, "description": { "anyOf": [{ "type": "string" }, { "type": "null" }] } } },
      "FeedbackRead": { "type": "object", "required": ["id", "subject", "description", "created_at"], "properties": { "id": { "type": "integer" }, "subject": { "type": "string" }, "description": { "type": "string" }, "screen": { "type": "string", "default": "" }, "platform": { "type": "string", "default": "" }, "created_at": { "type": "string", "format": "date-time" } } },
      "FeedbackSuggestion": { "type": "object", "required": ["subject", "description"], "properties": { "subject": { "type": "string", "minLength": 1, "maxLength": 255 }, "description": { "type": "string", "minLength": 1 }, "screen": { "type": "string", "default": "" }, "platform": { "type": "string", "default": "" }, "metadata": { "type": "object", "additionalProperties": true } } }
    },
    "securitySchemes": {
      "AuthBearer": { "type": "http", "scheme": "bearer" },
      "UserScopedBearer": { "type": "http", "scheme": "bearer" }
    }
  }
}
